body {
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
    font-size:14px;
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    background-color: $primary-background-color;
    min-width: 320px;
}



button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
    font-size: inherit;
    margin: 0;
}

img {
    display: inline-block;
}

// *, *::before, *::after {
//     box-sizing: inherit;
// }
 
.main-container {
    padding: 0; 
    margin: auto;

    @include adaptive {
        width: $tablet;
        padding-left: 32px;
        padding-right: 32px;
        }

    @include desktop {
        width: $desktop;
        padding-left: 16px;
        padding-right: 16px;
        }
}