//Colors

$primary-text-color: #2c2c2c;
$secondary-text-color: #000000;
$accent-color: #bbf330;
$accent-color-dark: #7eb101;
$accent-color-darken-than-dark: #597D00;
$primary-background-color: #fefefe;
$second-background-color: #ffe550;
$input-text-color: #505050;
$input-background-color: #d9d9d945;
$input-placeholder-color: #c4c4c4;
$erorr-input-color: #ff705d;
$shadow-fruit: radial-gradient(
  50% 50% at 50% 50%,
  #2f583f 0%,
  rgba(105, 105, 105, 0) 100%
);
$modal-overlay-color: rgba(94, 99, 99, 0.7);
$picture-background-color: #FFFFFF;



//animation
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
