
<section class="customers__section"> 
    <div class="customers__container">
        <h2 class="customers__title"> What our Customers Say </h2>
        <p class="customers__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <ul class="customers__list"> 
            <li class="customers__item"> 
                <div class="customer__icon-wrapper">
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                </div>
                <p class="customers__copyright"> “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked” </p> 
                <div class="customers__wrapper"> 
                    <img class="customers__image" src="/src/images/avatar-men-phone.jpg" alt="">
                    <ul class="customers__wraper-name">
                        <li><h3 class="customers__name"> Sumith Shah </h3> </li>
                        <li><p class="customers__description"> Some Dude </p> </li>
                     </ul>
                </div>
            </li>
            <li class="customers__item">   
                <div class="customer__icon-wrapper">
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customer__element"><use class="customer__icon" href="/src/images/sprite.svg#star"></use></svg>
                </div>
                <p class="customers__copyright"> “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app” </p> 
                <div class="customers__wrapper"> 
                    <img class="customers__image" src="/src/images/avatar-women-phone.jpg" alt="">
                    <ul class="customers__wraper-name">
                        <li><h3 class="customers__name"> Sumith Shah </h3> </li>
                        <li><p class="customers__description"> Some Dude </p> </li>
                     </ul>
                </div>
            </li>
        </ul>
    </div>
</section>