<section class="customers__section"> 
    <div class="customers__container">
        <h2 class="customers__title"> What our Customers Say </h2>
        <p class="customers__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        <ul class="customers__list"> 
            <li class="customers__item"> 
                <div class="customers__icon-wrapper">
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                </div>
                <p class="customers__copyright"> “The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked” </p> 
                <div class="customers__wrapper"> 
                    <picture> 
                        <source 
                        srcset="/src/images/avatar-men-desc.jpg 1x, /src/images/avatar-men-desc@2x.jpg 2x"
                        media="(min-width: 1280px)"
                        type="image/jpeg"/>
                        <source 
                        srcset="/src/images/avatar-men-tablet.jpg 1x, /src/images/avatar-men-tablet@2x.jpg 2x"
                        media="(min-width: 768px)"
                        type="image/jpeg"/>  
                        <source     
                        srcset="/src/images/avatar-men-phone.jpg 1x, /src/images/avatar-men-phone@2x.jpg 2x"
                        media="(max-width:767px)"
                        type="image/jpeg"/>
                       
                                              
                      

                        <img src="/src/images/avatar-men-desc.jpg" alt="">
                        </picture>
                    <ul class="customers__wraper-name">
                        <li><h3 class="customers__name"> Sumith Shah </h3> </li>
                        <li><p class="customers__description"> Some Dude </p> </li>
                     </ul>
                </div>
            </li>
            <li class="customers__item">   
                <div class="customer__icon-wrapper">
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                    <svg class="customers__element"><use class="customers__icon" href="/src/images/sprite.svg#star"></use></svg>
                </div>
                <p class="customers__copyright"> “The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app” </p> 
                <div class="customers__wrapper"> 
                    <picture> 
                        <source 
                        srcset="/src/images/avatar-woman-desc.jpg 1x, /src/images/avatar-woman-desc@2x.jpg 2x"
                        media="(min-width: 1280px)"
                        type="image/jpeg"/>
                        <source 
                        srcset="/src/images/avatar-woman-tablet.jpg 1x, /src/images/avatar-woman-tablet@2x.jpg 2x"
                        media="(min-width: 768px)"
                        type="image/jpeg"
                        />                        
                        <source     
                        srcset="/src/images/avatar-women-phone.jpg 1x, /src/images/avatar-women-phone@2x.jpg 2x"
                        media="(max-width:767px)"
                        type="image/jpeg"/>

                        <img src="/src/images/avatar-woman-desc.jpg" alt="">
                        </picture>
                    <ul class="customers__wraper-name">
                        <li><h3 class="customers__name"> Sumith Shah </h3> </li>
                        <li><p class="customers__description"> Some Dude </p> </li>
                     </ul>
                     
                </div>
            </li>
        </ul>
    </div>
</section>