<section class="main-container favorites-container">
  <div class="favorites-container__info">
    <h2 class="favorites-container__title">Some of Our Favorites</h2>
    <p class="favorites-container__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <ul class="favorites-card-set">
    <li class="favorites-card-set__item">
      <a href="" class="favorites-card-set__link">
        <picture>
          <source
            srcset="
              /src/images/gamburger-desc.png    1x,
              /src/images/gamburger-desc@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/gamburger-tablet.png    1x,
              /src/images/gamburger-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/gamburger-phone.png    1x,
              /src/images/gamburger-phone@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/src/images/gamburger-phone.png" alt="Hamburger" />
        </picture>
      </a>
    </li>
    <li class="favorites-card-set__item">
      <a href="" class="favorites-card-set__link">
        <picture>
          <source
            srcset="
              /src/images/Pasta-desc.png    1x,
              /src/images/Pasta-desc@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/Pasta-tablet.png    1x,
              /src/images/Pasta-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/Pasta-phone.png    1x,
              /src/images/Pasta-phone@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/src/images/Pasta-phone.png" alt="Pasta" />
        </picture>
      </a>
    </li>
    <li class="favorites-card-set__item">
      <a href="" class="favorites-card-set__link">
        <picture>
          <source
            srcset="
              /src/images/pizza-desc.png    1x,
              /src/images/pizza-desc@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/pizza-tablet.png    1x,
              /src/images/pizza-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /src/images/pizza-phone.png    1x,
              /src/images/pizza-phone@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/src/images/pizza-phone.png" alt="Pizza" />
        </picture>
      </a>
    </li>
    <li class="favorites-card-set__item favorites-card-set__item--extra">
      <a href="" class="favorites-card-set__link">
        <picture>
          <source
            srcset="
              /src/images/chicken-desc.png    1x,
              /src/images/chicken-desc@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/chicken-tablet.png    1x,
              /src/images/chicken-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="/src/images/chicken-desc.png" alt="Chicken" />
        </picture>
      </a>
    </li>
    <li class="favorites-card-set__item favorites-card-set__item--extra">
      <a href="" class="favorites-card-set__link">
        <picture>
          <source
            srcset="
              /src/images/salat-desc.png    1x,
              /src/images/salat-desc@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/salat-tablet.png    1x,
              /src/images/salat-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="/src/images/salat-desc.png" alt="Salad" />
        </picture>
      </a>
    </li>
    <li class="favorites-card-set__item favorites-card-set__item--extra">
      <a href="" class="favorites-card-set__link">
        <picture>
          <source
            srcset="
              /src/images/borshch-desc.png    1x,
              /src/images/borshch-desc@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /src/images/borshch-tablet.png    1x,
              /src/images/borshch-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <img src="/src/images/borshch-desc.png" alt="Borsch" />
        </picture>
      </a>
    </li>
  </ul>
</section>
