<footer class="footer">
    <div class="footer__second-container">
        <div class="footer__first-container">
            <a href="./index.html" class="logo" aria-label="Go back to main page">
                <svg class="logo__icon" width="66" height="52">
                        <use href="./images/sprite.svg#logo"></use>
                </svg>
            </a>
            
            <nav class="nav footer__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#offerings" class="nav__link">Offerings</a></li>
                    <li class="nav__item"><a href="#favorites" class="nav__link">Favorites</a></li>
                    <li class="nav__item"><a href="#customers-say" class="nav__link">Customers Say</a><li>
                    <li class="nav__item"><a href="#subscribe" class="nav__link">Subscribe</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__sub">
            <form class="subscribe-form footer__subscribe-form">
                <p class="subscribe-form__text">Subscribe</p>
                <div class="subscribe-form__container">
                    <input 
                    type="email" 
                    name="mail" 
                    placeholder="Enter your email" 
                    reqired 
                    id="mail" 
                    class="subscribe-form__input" 
                    title="Not a valid email address (example@email.com)"
                    pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
                    <button type="submit" class="subscribe-form__button">Subscribe</button>
                </div>
                <p class="subscribe-form__policy-start">By subscribing you agree to with our 
                    <a class="subscribe-form__policy-end" href="https://legalitgroup.com/service/gdpr/?gclid=CjwKCAjw8JKbBhBYEiwAs3sxN13uPQU1Aqz5gTcY9F4PENUJ7XsEvtYVt_qVhKpJPKo94RK5YjpIoRoCvZkQAvD_BwE">Privacy Policy</a>
                </p>
            </form>
        </div>
        
    </div>
    
    <div class="footer__adress address">
        
        <ul class="address__list">
            <li class="address__item">
                <a class="address__link" href="https://legalitgroup.com/service/gdpr/?gclid=CjwKCAjw8JKbBhBYEiwAs3sxN13uPQU1Aqz5gTcY9F4PENUJ7XsEvtYVt_qVhKpJPKo94RK5YjpIoRoCvZkQAvD_BwE">Privacy Policy</a>
            </li>
            <li class="address__item">
                <a class="address__link" href="https://termify.io/terms-of-service-generator?gclid=CjwKCAjw8JKbBhBYEiwAs3sxN-ksD2KAYdNDbyORSdG5neFoL7CWBPitV9DtxoXnElhFPRAH5v2bhBoCliwQAvD_BwE">Terms of Service</a>
            </li>
            <li class="address__item">
                <a class="address__link" href="https://www.iubenda.com/en/cookie-solution?utm_source=google&utm_medium=cs_page&utm_campaign=row_cs_new_search&utm_term=free%20cookie%20consent&utm_content=598059997810&gclid=CjwKCAjw8JKbBhBYEiwAs3sxNxEiRsHN0InHAyzpmf-zl31-oXPmTvrQbdEssCfPuHP-Xi3BcYCSRhoCXucQAvD_BwE">Cookies Settings</a>
            </li>
        </ul>
        
        <p class="address__sig">2022 FoodSta. All right reserved.</p>
    </div>
</footer>