<!-- <include src="../common-elements/logo.html"></include>
<include src="../common-elements/nav.html"></include>
<include src="../common-elements/subscribe-form.html"></include> -->

<div class="container--footer">
    <div class="footer-wrap">
    <div class="logo__container--footer">
        <a href="./index.html" class="logo__link logo__link--header">
        <img src="./images/.svg" alt="logo" class="logo__img">
        </a>
<nav class="nav-footer">
    <ul class="footer-nav-list">
        <li class="footer-nav-item"><a href="" class="nav-item"></a>Home</li>
        <li class="footer-nav-item"><a href="" class="nav-item"></a>About</li>
        <li class="footer-nav-item"><a href="" class="nav-item"></a>Service</li>
        <li class="footer-nav-item"><a href="" class="nav-item"></a>Menu<li>
        <li class="footer-nav-item"><a href="" class="nav-item"></a>Contact</li>
    </ul>
</nav>
</div>
<div class="footer-sub">
<h2 class="header-sub">Subscribe</h2>
 <form action="" >
        <input type="text" placeholder="Enter your email" class="subscribe-input">
        <button type="button" class="but-sub">Subscribe</button>
    </form>
    <p class="footer-text">By subscribing you agree to with our <a href="" class="policy-link">Privacy Policy</a> </p>
</div>
</div>
</div>