<footer class="footer">
    <div class="footer__second-container">
        <div class="footer__first-container">
            <a href="./index.html" class="logo">
                <svg class="logo__icon" width="66" height="52">
                        <use href="./images/sprite.svg#logo"></use>
                </svg>
            </a>
            
            <nav class="nav footer__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#offerings" class="nav__link">Offerings</a></li>
                    <li class="nav__item"><a href="#favorites" class="nav__link">Favorites</a></li>
                    <li class="nav__item"><a href="#customers-say" class="nav__link">Customers Say</a><li>
                    <li class="nav__item"><a href="#subscribe" class="nav__link">Subscribe</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__sub">
            <form class="subscribe-form footer__subscribe-form">
                <p class="subscribe-form__text">Subscribe</p>
                <div class="subscribe-form__container">
                    <input type="email" name="mail" placeholder="Enter your email" id="mail" class="subscribe-form__input">
                    <button type="submit" class="subscribe-form__button">Subscribe</button>
                </div>
                <p class="subscribe-form__policy-start">By subscribing you agree to with our 
                    <a class="subscribe-form__policy-end" href="">Privacy Policy</a>
                </p>
            </form>
        </div>
        
    </div>
    
    <address class="footer__adress address">
        
        <ul class="address__list">
            <li class="address__item">
                <a class="address__link" href="">Privacy Policy</a>
            </li>
            <li class="address__item">
                <a class="address__link" href="">Terms of Service</a>
            </li>
            <li class="address__item">
                <a class="address__link" href="">Cookies Settings</a>
            </li>
        </ul>
        
        <p class="address__sig">2022 FoodSta. All right reserved.</p>
    </address>
</footer>