<header class="header">
  <div class="header__container nav">
    <a href="./index.html" class="logo" aria-label="Go back to main page">
      <svg class="logo__icon" width="66" height="52">
              <use href="./images/sprite.svg#logo"></use>
      </svg>
</a>

    <div class="container-nav">
      <nav class="nav header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item">
            <a href="#home" class="header-nav__link header-nav__link--active"
              >Home</a
            >
          </li>
          <li class="header-nav__item">
            <a href="#offerings" class="header-nav__link">Offerings</a>
          </li>
          <li class="header-nav__item">
            <a href="#favorites" class="header-nav__link">Favorites</a>
          </li>
          <li class="header-nav__item">
            <a href="#customers-say" class="header-nav__link">Customers Say</a>
          </li>
          
          <li class="header-nav__item">
            <a href="#subscribe" class="header-nav__link">Subscribe</a>
          </li>
        </ul>
      </nav>
      <!-- <button type="button" class="order-button" data-modal-open>
        Order Now
      </button> -->
      <include src="./partials/common-elements/order-button.html"></include>

      <button type="button" class="open-menu-btn" aria-label="data-mobile-menu-open">
        <svg width="28" height="28">
          <use href="/src/images/sprite.svg#burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="mob-menu is-hidden">
    <div class="mob-menu__top">
      <button type="button" class="menu-close-btn">
        <svg width="24" height="24">
          <use href="/src/images/sprite.svg#cross"></use>
        </svg>
      </button>
      <ul class="mob-nav">
        <li class="mob-nav__item">
          <a href="#home" class="mob-nav__link">Home</a>
        </li>

        <li class="mob-nav__item">
          <a href="#offerings" class="mob-nav__link">Offerings</a>
        </li>

        <li class="mob-nav__item">
          <a href="#favorites" class="mob-nav__link">Favorites</a>
        </li>

        <li class="mob-nav__item">
          <a href="#customers-say" class="mob-nav__link">Customers Say</a>
        </li>

        <li class="mob-nav__item">
          <a href="#subscribe" class="mob-nav__link">Subscribe</a>
        </li>
      </ul>
    </div>
  </div>
</header>
