<section class="hero" id="home">
  <div class="hero__wrapper">
    <h1 class="hero__title main-title">Enjoy Your Favorite Food From&nbsp;Anywhere</h1>
    <p class="hero__text">
      Delivery of food to the office or at home from the Foodsta delivery service will help you make a real trip to the Land
      of Gourmets. It is the traditional cuisine that absorbs all aspects of the
      life of the country - climate, flora, fauna, foreign influence and even fashion trends.
    </p>
    <include src="./partials/common-elements/order-button.html"></include>
    <!-- <button class="order-button order-button--yellow" type="button" data-modal-open>Order Now</button> -->
  </div>
  <div class="hero__slider slider">
    <div class="slider__swiper swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/hero-foto-desc.png 1x, ./images/hero-foto-desc@2x.png 2x" media="(min-width: 1280px)" type="image/jpg" >
            <source srcset="./images/hero-tablet.png 1x, ./images/hero-tablet@2x.png 2x" media="(min-width: 768px)" type="image/jpg" >
            <img loading="lazy" src="./images/hero-foto-desc.png" alt="Salad-1" >
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/slider-photo-desc.png 1x, ./images/slider-photo-desc@2x.png 2x" media="(min-width: 1280px)" >
            <source srcset="./images/slider-photo-tablet.png 1x, ./images/slider-photo-tablet@2x.png 2x" media="(min-width: 768px)" >
            <img loading="lazy" src="./images/slider-photo-desc.png" alt="Salad-2" >
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source srcset="./images/chris-ralston-desc.png 1x, ./images/chris-ralston-desc@2x.png 2x" media="(min-width: 1280px)" >
            <source srcset="./images/chris-ralston-tablet.png 1x, ./images/chris-ralston-tablet@2x.png 2x" media="(min-width: 768px)" >
            <img loading="lazy" src="./images/chris-ralston-desc.png" alt="Salad-3" >
          </picture>
        </div>
      </div>
    </div>
    <div class="swiper__button--prev swiper-button-prev">
      <svg class="swiper__icon swiper-icon">
        <use href="./images/sprite.svg#arrow-left"></use>
      </svg>
    </div>
    <div class="swiper__button--next swiper-button-next">
      <svg class="swiper__icon swiper-icon">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </div>
  </div>

</section>