<div class="offerings__container" >
    <section class="offerings" id="offerings">
        <div class="offerings__image">
            <picture>
                <source srcset="./images/apple-desktop.png 1x, ./images/apple-desktop@2x.png 2x"
                    media="(min-width: 1280px)" type="image/jpg">
                <source srcset="./images/apple-tablet.png 1x, ./images/apple-tablet@2x.png 2x"
                    media="(min-width: 768px)" type="image/jpg">
                <img loading="lazy" src="/src/images/apple-mobile.png" alt="Фотографія" />
            </picture>
        </div>
        <div class="offerings__uniq">
            <h2 class="offerings__title">What’s Special About Our Offerings</h2>
            <p class="offerings__subtitle">

                Foodsta will introduce you to new exotic flavors, new flavors of traditional dishes and bright European flavors of burgers that
                have blown up the whole world with their popularity. All meat and fish dishes are cooked in a special charcoal josper,
                which gives a unique, special taste to dishes from the oven, ensures uniform roasting, retains a golden crust, juiciness
                and appetizing appearance, and fully preserves the mineral and vitamin composition.

            </p>

            <ul id="more" class="offerings__list">
                <li class="offerings__item">
                    <div class="offerings__i">
                        <svg class="offerings__icon">
                            <use xlink:href="/src/images/sprite.svg#rocket"></use>
                        </svg>
                    </div>
                    <h3 class="offerings__article">Fastest Delivery</h3>
                    <p class="offerings__description">
                        We know how to deliver your order quickly and hot, because each of our employees loves what they do and does it 100%
                        cool.
                    </p>
                </li>
                <li class="offerings__item">
                    <div class="offerings__i">
                        <svg class="offerings__icon">
                            <use xlink:href="/src/images/sprite.svg#touch"></use>
                        </svg>
                    </div>
                    <h3 class="offerings__article">Easy to order</h3>
                    <p class="offerings__description">
                        Fill out the form or call and your order is already rushing to you.
                    </p>
                </li>
            </ul>
            <div class="offerings__order">
                <include src="./partials/common-elements/order-button.html"></include>
                <button id="btn" type="button" class="offerings__text" >Read More</button>
                <svg class="offerings__arrow">
                    <use xlink:href="/src/images/sprite.svg#arrow"></use>
                </svg>
            </div>
        </div>
        <svg class="offerings__bg-phone">
            <use href="/src/images/sprite.svg#offerings-phone-bg"></use>
        </svg>
        <svg class="offerings__bg-480">
            <use href="/src/images/sprite.svg#offerings-480-bg"></use>
        </svg>
        <svg class="offerings__bg-tablet">
            <use href="/src/images/sprite.svg#offerings-tablet-bg"></use>
        </svg>
        <svg class="offerings__bg-desk">
            <use href="/src/images/sprite.svg#offerings-desk-bg"></use>
        </svg>
    </section>
    
</div>