<!-- <include src="../common-elements/subscribe-form.html"></include> -->
<section id="subscribe-scroll" class="section-subscribe">
  <div class="container">
    <div class="subscribe-image">
      <!-- <img src="" alt="банан"> -->
    </div>
    <div class="subscribe-discription">
      <h2 class="title">Subscribe To Get Special Offers</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="form">
        <label for="mail">
          <input
            type="email"
            name="mail"
            id="mail"
            placeholder="Enter your email"
          />
        </label>
        <button class="form-btn" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
