.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #2C2C2C;
    

    &:hover, &:focus, &:active{
        text-decoration-line: underline;
        color: #BBF330;
    }
}

.nav__item {
    margin-right: 18px;
    &:last-child {
        margin-right: 0;
    }
}

