.nav__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #2C2C2C;
    margin-right: 18px;

    &:hover, &:focus, &:active{
        text-decoration-line: underline;
        color: #BBF330;
    }
}

