.order-button {
  @extend %button;
  width: 98px;
  height: 32px;
  background-color:$accent-color;
  border: none;
  transition: background-color $animation;
  &:hover {
    background-color: #B5FF00;
  }
}

.order-button--white {
  @extend %button;
  background-color: $picture-background-color;
  border: 1px $accent-color-dark solid;
  width: 106px;
  height: 40px;
  margin-right: 24px;
  transition: border-color $animation;
  &:hover {
    border: 1px $accent-color-darken-than-dark solid;
  }
}
@keyframes glowing {
  0% {
    background-color: #2BA805;
    box-shadow: 0 0 5px #2BA805;
  }

  50% {
    background-color: #49E819;
    box-shadow: 0 0 20px #49E819;
  }

  100% {
    background-color: #B5FF00;
    box-shadow: 0 0 5px #B5FF00;
  }
}

.order-button {
  animation: glowing 1300ms infinite;
}


