.order-button {
  @extend %button;
  width: 98px;
  height: 32px;
  background-color:$accent-color;
  border: none;
  transition: background-color $animation;
  &:hover {
    background-color: #B5FF00;
  }
}

.order-button--white {
  @extend %button;
  background-color: $picture-background-color;
  border: 1px $accent-color-dark solid;
  width: 106px;
  height: 40px;
  margin-right: 24px;
  transition: border-color $animation;
  &:hover {
    border: 1px $accent-color-darken-than-dark solid;
  }
}



@keyframes glowing {
  0% {
    background-color: $second-background-color;
    box-shadow: 0 0 5px $second-background-color;
  }

  50% {
    background-color: $accent-color;
    box-shadow: 0 0 20px $accent-color;
  }

  100% {
    background-color: $accent-color-dark;
    box-shadow: 0 0 5px $accent-color-dark;
  }
}

.order-button--animate {
  @extend %order-button;
  border: none;
  animation: glowing 1300ms infinite;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px solid $primary-background-color; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #B5FF00; /* Set a background color */
  color: $primary-text-color; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 50%;
}


#myBtn:hover {
  background-color: #B5FF00; /* Add a dark-grey background on hover */
  opacity: 100%;
}
