.order-button {
  background: $accent-color;
  border-radius: 30px;
  width: 98px;
  height: 32px;
  font-weight: 500;
  font-size: 13px;
  border: none;

  &:hover,
  &:focus {
    background-color: #B5FF00;
  }

}