.subscribe-text {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2C2C2C;
margin-bottom: 24px;
}

.subscribe-input {
background: none;
border: 0.854167px solid #FFE550;
border-radius: 30px;
padding: 12px 57px 12px 11px;
color: #505050;
}

.button-sub {
    border: #BBF330;
background: #BBF330;
border-radius: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 150%;
color: #2C2C2C;
padding: 11px 22px;

&:hover{
background: #B5FF00;
}
}