.footer {
    //@extend %section;
    @include adaptive {
        position: relative;
    }

    &__first-container {
        
        box-sizing: border-box;
        padding: 60px 20px 0 20px;
        display: flex;
        

        @include mobile {
            min-height: 259px;
            position: relative;
        }


        @include adaptive {
            padding: 60px 32px 0 32px;
        }

        @include desktop {
            padding: 60px 16px 0 16px;
        }
    }

    &__second-container {
        
        @include desktop {
            display: flex;
            justify-content: space-between;
        }


    }

    &__phone-apple-img {
        position: absolute;
        bottom: 0;
        left: 0;

        @include adaptive {
            display: none;
        }
    }

    &__phone-orange-img {
        position: absolute;
        bottom: 0;
        right: 0;

        @include adaptive {
            display: none;
        }
    }

    &__tablet-img {
        display: none;
        @include tablet {
            display: block;
            position: fixed;
            bottom: 0;
            z-index: -1;
            width: 768px;
        }
    }
    
    &__desktop-img {
        display: none;
        @include desktop {
            display: block;
            position: fixed;
            bottom: 0;
            z-index: -1;
            width: 1280px;
        }
    }



    &__sub {
        @extend %section;
        padding-top: 5px;
    }


    & .subscribe-form {

        @include tablet {
            margin-top: 35px;
        }

        &__container {
            @include mobile {
                flex-direction: column;
                align-items: flex-end;
            }
            @include adaptive {
                margin-top: 12px;
            }
        }

        &__input {
            margin-right: 13px;

            @include mobile {
                margin: 12px 0 20px 0;
            }
        }

        &__button {
            background-color: #FFFFFF;
        }
        
        &__policy-start {
            
            margin-top: 20px;
            font-size: 12px;
            line-height: calc(14/12);

            @include mobile {
                font-size: 10px;
                line-height: 1,2;  
            }

            @include adaptive {
                margin-top: 12px;
            }
        }

        &__policy-end {
            color: $accent-color-dark;
            text-decoration: underline;
        }
    }

}

.footer__logo {
    margin-right: 61px;

    @include tablet {
        margin-right: 114px;
    }

    @include tablet {
        margin-right: 148px;
    }
}

.footer__nav {
    @include adaptive {
        display: flex;
    }

    & .nav__list {
        display: flex;
        
        padding: 0;

        @include mobile {
            flex-direction: column;
        }
    }

    & .nav__item {
        @include mobile {margin-bottom: 20px;}

    }
}


.address {

    @include adaptive {
        display: flex;
        justify-content: space-between
    }

    @extend %section;
    min-height: 144px;

    @include tablet {
        min-height: 114px;
        margin-top: 50px;
    }

    
    &__container {
        @include tablet {
            display: flex;
            align-items: center;
        }
    }
    

    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        line-height: 1,2;
        font-style: normal;
        text-decoration: underline;
        margin: 60 0 40 0;

        @include adaptive {
            font-size: 12px;
            line-height: calc(14/12);
        }

        @include tablet {
            margin: auto;
        }

        
    }

    &__item {
        @include adaptive {
            margin-right: 20px;
        }
    }

    &__link {
        color: $accent-color-dark;
    }

    &__sig {
        font-style: normal;
        text-align: center;

        @include adaptive {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: calc(14/12);
        }
    }
    
}