.footer {
    @extend %section-true;

    @include adaptive {
        position: relative;
    }

    &__first-container {
        box-sizing: border-box;
        margin-bottom: 40px;
        padding: 0 20px 0 20px;
        display: flex;
        @include mobile {
            // min-height: 259px;
            position: relative;
        }


        @include adaptive {
            align-items: center;
            padding: 0 32px 0 32px;
        }

        @include desktop {
            padding: 0 16px 0 16px;
            margin-bottom: 0;
        }
    }

    &__second-container {
        
        @include desktop {
            display: flex;
            justify-content: space-between;
        }


    }

    &__phone-apple-img {
        position: absolute;
        bottom: 0;
        left: 0;

        @include adaptive {
            display: none;
        }
    }

    &__phone-orange-img {
        position: absolute;
        bottom: 0;
        right: 0;

        @include adaptive {
            display: none;
        }
    }

    &__tablet-img {
        display: none;
        @include tablet {
            display: block;
            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }
    
    &__desktop-img {
        display: none;
        @include desktop {
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            

        }
    }



    &__sub {
        @extend %section;


    }

    & .subscribe-form__input {
        margin-top: 0;
    }

}
    
.footer__logo {
    height:51px;
}
//     margin-right: 61px;

//     @include tablet {
//         margin-right: 114px;
//     }

//     @include tablet {
//         margin-right: 148px;
//     }
// }

.footer__nav {
    margin: 0 auto;
    @include adaptive {
        display: flex;
    }
    @include desktop {
        margin-left: 148px;
    }

    & .nav__list {
        display: flex;
        padding: 0;
        flex-direction: column;
        @include adaptive {
            flex-direction: row;
        }
    }
    
    & .nav__item:not(:last-child) {
        margin-bottom: 20px;
        @include adaptive {margin-bottom: 0;}

    }
}


.address {
    width: 100%;
    margin-top: 60px;

    @include adaptive {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 100px;

    }
    @include desktop {
        matgin-top: 80px;
    }
    @extend %section;
    &__container {
        display: flex;
        align-items: center;
    }
    

    &__list {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
        display: flex;
        //justify-content: space-between;
        font-size: 10px;
        line-height: 1.2;
        font-style: normal;
        text-decoration: underline;
        // @media screen and (min-width:480px) {
        //     width: 480px;
        // }
        @include adaptive {
            margin-bottom: 0;
            font-size: 12px;
            line-height: calc(14/12);
        }
    }

    &__item {
        @include adaptive {
            margin-right: 20px;
        }
    }

    &__link {
        color: $accent-color-dark;
    }

    &__sig {
        font-style: normal;
        text-align: center;

        @include adaptive {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: calc(14/12);
        }
    }
    
}

.subscribe-form__text {
font-weight: 500;
}