.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(/src/images/footer-bg-down-phone.jpg), url(/src/images/footer-bg-orange-phone.jpg), url(/src/images/footer-bg-apple-phone.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 50% bottom, top right, 0 132px;
    @include adaptive {
        padding-top: 100px;
        padding-bottom: 60px;
        background-image: url(/src/images/footer-bg-tablet.jpg);
        background-size:cover ;
        background-position: right bottom;
    }
    @include desktop {
        padding-top: 100px;
        background-image: url(/src/images/footer-bg-desc.jpg);
        background-size:contain ;
        background-position: 50% bottom;
    }
 
}
