.footer {
    //@extend %section;
    

    &__first-container {
        position: relative;
        box-sizing: border-box;
        padding: 60px 20px 0 20px;
        display: flex;
        min-height: 259px;


        @include adaptive {
            padding: 60px 32px 0 32px;
        }

        @include desktop {
            padding: 60px 16px 0 16px;
        }
    }

    &__phone-apple-img {
        position: absolute;
        bottom: 0;
        left: 0;

        @include adaptive {
            display: none;
        }
    }

    &__phone-orange-img {
        position: absolute;
        bottom: 0;
        right: 0;

        @include adaptive {
            display: none;
        }
    }


    &__sub {
        @extend %section;
        padding-top: 5px;
    }


    & .subscribe-form {

        &__container {
            @include mobile {
                flex-direction: column;
                align-items: flex-end;
            }
        }

        &__input {

            @include mobile {
                margin: 12px 0 20px 0;
            }
        }

        &__button {
            background-color: #FFFFFF;
        }
        
        &__policy-start {
            font-size: 10px;
            line-height: 1,2;
            margin-top: 20px;
        }

        &__policy-end {
            color: $accent-color-dark;
            text-decoration: underline;
        }
    }

}

.footer__logo {
    margin-right: 61px;
}

.footer__nav {
    & .nav__list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    & .nav__item {
        margin-bottom: 20px;

    }
}


.address {
    @extend %section;
    min-height: 144px;

    &__list {
        padding: 0;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        line-height: 1,2;
        font-style: normal;
        text-decoration: underline;
        margin: 60 0 40 0;
    }

    &__link {
        color: $accent-color-dark;
    }

    &__sig {
        font-style: normal;
        text-align: center;
    }
    
}