.hero {
  max-width: 480px;
}

.hero__title {
  // position: absolute;
  width: 280px;
  height: 66px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;

  color: #2C2C2C;

  @media screen and (min-width: 768px){
   
    width: 537px;
    height: 100px;
    font-size: 42px;
    line-height: 1.2;
  }

  @media screen and(min-width: 1280px) {
  
    width: 502.42px;
    height: 116px;
    font-size: 48px;
    line-height: 1.2;
    
  }
}

.hero__text {
  // position: absolute;
    width: 266px;
    height: 105px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
   
    color: #2C2C2C;

    @media screen and(min-width: 768px){
      // position: absolute;
        width: 336px;
        height: 120px;
       font-size: 16px;
        line-height: 1.5;

        color: #2C2C2C;
    }
}