.hero {
  @extend %section-true;  
  @extend %section;
  box-sizing: border-box;
  position: relative;

  @media screen and (max-width: 1279px) {
    margin-top: 60px;
  }

  @include adaptive {
    padding-bottom: 0;
    padding-top: 60px;
  }

  @include desktop {
    padding-top: 159px;
  }

  
}


  .hero__wrapper {
    @include desktop {
      width: 502px;
      margin-left: 0;
    }
  }

  .hero__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 28px;
    width: 280px;
    text-align: left;

    @include adaptive {
      font-size: 42px;
      line-height: 1.2;
      margin-bottom: 44px;
      width: 500px;
    }

      @include desktop {
      font-size: 48px;
      margin-bottom: 28px;
    }
  }

  .hero__text {
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    min-width: 266px;
    max-width: 440px;
    text-align: left;

    @include adaptive {
    font-size: 16px;
    margin-bottom: 40px;
    }

      @include tablet {
      width: 336px;
    }

      @include desktop {
      max-width: 502px;
      margin-bottom: 40px;
    }
  }
