.subscribe {
  @extend %section-true;
  margin-top: -50px;
  padding-top: 0;

  @include adaptive {
    margin-top: -74px;
  }
    @include desktop {
    margin-top: -66px;
    padding-bottom: 64px;
  }
}

/* .subscribe__container {
  min-width: 280px;
  max-width: 480px;

  @include adaptive {
    max-width: 768px;
  }

    @include desktop {
    max-width: 1280px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
} */
.subscribe__image {
  display: flex;
  justify-content: center;
  margin: 0 auto 17px;
  // margin-bottom: 17px;

  @include adaptive {
    justify-content: flex-end;
    margin-bottom: 20px;
    // padding: 0;
  }

    @include desktop {
      min-width: 608px;
  }
}
.subscribe__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 20px;

  @include adaptive {
    font-size: 42px;
    line-height: 1, 2;
  }
}
.subscribe__text {
  line-height: 1, 17;
  margin-bottom: 40px;

  @include adaptive {
    font-size: 16px;
    line-height: 1, 5;
    margin-bottom: 24px;
  }
}

.subscribe .subscribe-form__button {
    border: none;
    background: #BBF330;
    &:hover, &:focus {
        background: #B5FF00;
    }
  }

  .subscribe .subscribe-form__input {
    width: 395px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    @include desktop {
      margin-right: 32px;
    }

    @include tablet {
      margin-right: 22px;
    }
  }

  
